@page "/"
@inject ProxyClient Proxy

<PageTitle>Water Consumption</PageTitle>

<h1>Water Consumption</h1>

@if (consumptions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <WaterConsumptionChart Consumptions="consumptions" />
}

@code {
    private List<WaterConsumptionItemModel>? consumptions;

    protected override async Task OnInitializedAsync()
    {
        var result = await Proxy.GetWaterConsumptionDataAsync();
        consumptions = result.Data.ToList();
    }
}
